In [6]:
import spacy
import pandas as pd

nlp = spacy.load("en_core_web_sm")

#datasets
data = {
    "id_no": [101, 102, 103, 104, 105],
    "first_name": ["Anata", "Asutosh", "Rada", "Bulai", "Chaitali"],
    "last_name": ["Sarkar", "Mukherjee", "Sengupto", "Chandra", "Mukherjee"],
    "age": [28, 34, 25, 45, 30],
    "salary": [55000.00, 63000.00, 45000.00, 80000.00, 57000.00]
}

df = pd.DataFrame(data)

In [7]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\kiit\anaconda31\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\kiit\anaconda31\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\kiit\anaconda31\lib\site-packages (from click->nltk) (0.4.6)

In [8]:
corpus="""Find employees aged above 30 with the highest salary. Show me the employees who are older than 25. List the employees with the lowest salary. Get the details of employees with a salary above 50000.
What are the first names of all employees? List the last names and ages of employees older than 30. Show the full details of employees who earn more than 60000. 
What are the names and salaries of employees whose last name is 'Mukherjee'? How many employees are there in the database?List the full names of employees sorted by age in descending order.
What is the average salary of employees? Show the full details of the youngest employee. What is the total salary expenditure for all employees? List the IDs and names of employees aged between 25 and 35.
What are the names of employees who are exactly 30 years old? List the employees' first names and their salaries, but only show those with a salary less than 60000. 
What is the highest salary in the employee database? Show the full details of employees with the last name starting with 'S'. List the employees whose first name contains 'ai'. """

In [9]:
print(corpus)

Find employees aged above 30 with the highest salary. Show me the employees who are older than 25. List the employees with the lowest salary. Get the details of employees with a salary above 50000.
What are the first names of all employees? List the last names and ages of employees older than 30. Show the full details of employees who earn more than 60000.
What are the names and salaries of employees whose last name is 'Mukherjee'? How many employees are there in the database?List the full names of employees sorted by age in descending order.
What is the average salary of employees? Show the full details of the youngest employee. What is the total salary expenditure for all employees? List the IDs and names of employees aged between 25 and 35.
What are the names of employees who are exactly 30 years old? List the employees' first names and their salaries, but only show those with a salary less than 60000.
What is the highest salary in the employee database? Show the full details of employees with the last name starting with 'S'. List the employees whose first name contains 'ai'.

In [10]:
##  Tokenization
## Sentence-->paragraphs
from nltk.tokenize import sent_tokenize
documents=sent_tokenize(corpus)
type(documents)
for sentence in documents:
    print(sentence)

Find employees aged above 30 with the highest salary.
Show me the employees who are older than 25.
List the employees with the lowest salary.
Get the details of employees with a salary above 50000.
What are the first names of all employees?
List the last names and ages of employees older than 30.
Show the full details of employees who earn more than 60000.
What are the names and salaries of employees whose last name is 'Mukherjee'?
How many employees are there in the database?List the full names of employees sorted by age in descending order.
What is the average salary of employees?
Show the full details of the youngest employee.
What is the total salary expenditure for all employees?
List the IDs and names of employees aged between 25 and 35.
What are the names of employees who are exactly 30 years old?
List the employees' first names and their salaries, but only show those with a salary less than 60000.
What is the highest salary in the employee database?
Show the full details of employees with the last name starting with 'S'.
List the employees whose first name contains 'ai'.

In [11]:
## Tokenization 
## Paragraph-->words
## sentence--->words
from nltk.tokenize import word_tokenize
word_tokenize(corpus)
for sentence in documents:
    print(word_tokenize(sentence))

['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.']
['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.']
['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.']
['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?']
['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.']
['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'Mukherjee", "'", '?']
['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.']
['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?']
['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.']
['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?']
['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.']
['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?']
['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'S", "'", '.']
['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'ai", "'", '.']

In [12]:
from nltk.tokenize import wordpunct_tokenize
wordpunct_tokenize(corpus)
for sentence in documents:
    print(wordpunct_tokenize(sentence))

['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.']
['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.']
['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.']
['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?']
['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.']
['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'", 'Mukherjee', "'?"]
['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.']
['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?']
['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.']
['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?']
['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.']
['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?']
['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'", 'S', "'."]
['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]

In [13]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import wordpunct_tokenize
from nltk import pos_tag

# Download required NLTK data files
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()

# Define a function to map NLTK POS tags to WordNet POS tags
def get_wordnet_pos(nltk_pos_tag):
    if nltk_pos_tag.startswith('J'):
        return 'a'  # Adjective
    elif nltk_pos_tag.startswith('V'):
        return 'v'  # Verb
    elif nltk_pos_tag.startswith('N'):
        return 'n'  # Noun
    elif nltk_pos_tag.startswith('R'):
        return 'r'  # Adverb
    else:
        return None

# Define a list of tokenized sentences
tokenized_sentences = [
    ['Find', 'employees', 'aged', 'above', '30', 'with', 'the', 'highest', 'salary', '.'],
    ['Show', 'me', 'the', 'employees', 'who', 'are', 'older', 'than', '25', '.'],
    ['List', 'the', 'employees', 'with', 'the', 'lowest', 'salary', '.'],
    ['Get', 'the', 'details', 'of', 'employees', 'with', 'a', 'salary', 'above', '50000', '.'],
    ['What', 'are', 'the', 'first', 'names', 'of', 'all', 'employees', '?'],
    ['List', 'the', 'last', 'names', 'and', 'ages', 'of', 'employees', 'older', 'than', '30', '.'],
    ['Show', 'the', 'full', 'details', 'of', 'employees', 'who', 'earn', 'more', 'than', '60000', '.'],
    ['What', 'are', 'the', 'names', 'and', 'salaries', 'of', 'employees', 'whose', 'last', 'name', 'is', "'", 'Mukherjee', "'?"],
    ['How', 'many', 'employees', 'are', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'names', 'of', 'employees', 'sorted', 'by', 'age', 'in', 'descending', 'order', '.'],
    ['What', 'is', 'the', 'average', 'salary', 'of', 'employees', '?'],
    ['Show', 'the', 'full', 'details', 'of', 'the', 'youngest', 'employee', '.'],
    ['What', 'is', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employees', '?'],
    ['List', 'the', 'IDs', 'and', 'names', 'of', 'employees', 'aged', 'between', '25', 'and', '35', '.'],
    ['What', 'are', 'the', 'names', 'of', 'employees', 'who', 'are', 'exactly', '30', 'years', 'old', '?'],
    ['List', 'the', 'employees', "'", 'first', 'names', 'and', 'their', 'salaries', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.'],
    ['What', 'is', 'the', 'highest', 'salary', 'in', 'the', 'employee', 'database', '?'],
    ['Show', 'the', 'full', 'details', 'of', 'employees', 'with', 'the', 'last', 'name', 'starting', 'with', "'", 'S', "'."],
    ['List', 'the', 'employees', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]
]

# Function to lemmatize each token in a sentence
def lemmatize_sentence(sentence):
    # Tokenize the sentence and POS tag the tokens
    tokens = wordpunct_tokenize(sentence)
    pos_tags = pos_tag(tokens)

    # Lemmatize each token based on its POS tag
    lemmatized_sentence = []
    for token, pos in pos_tags:
        wordnet_pos = get_wordnet_pos(pos) or 'n'  # Default to noun if no POS mapping is found
        lemmatized_token = lemmatizer.lemmatize(token, pos=wordnet_pos)
        lemmatized_sentence.append(lemmatized_token)

    return lemmatized_sentence

# Process each tokenized sentence and lemmatize the tokens
lemmatized_sentences = [lemmatize_sentence(' '.join(sentence)) for sentence in tokenized_sentences]

# Print the lemmatized sentences
for sentence in lemmatized_sentences:
    print(sentence)

['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary', '.']
['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25', '.']
['List', 'the', 'employee', 'with', 'the', 'low', 'salary', '.']
['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000', '.']
['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee', '?']
['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30', '.']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000', '.']
['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', "'", 'Mukherjee', "'?"]
['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order', '.']
['What', 'be', 'the', 'average', 'salary', 'of', 'employee', '?']
['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee', '.']
['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee', '?']
['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35', '.']
['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old', '?']
['List', 'the', 'employee', "'", 'first', 'name', 'and', 'their', 'salary', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.']
['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database', '?']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', "'", 'S', "'."]
['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [7]:
import string

# Example sentences with punctuation
sentences = [
    ['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary', '.'],
    ['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25', '.'],
    ['List', 'the', 'employee', 'with', 'the', 'low', 'salary', '.'],
    ['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000', '.'],
    ['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee', '?'],
    ['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30', '.'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000', '.'],
    ['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', "'", 'Mukherjee', "'?"],
    ['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', '?', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order', '.'],
    ['What', 'be', 'the', 'average', 'salary', 'of', 'employee', '?'],
    ['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee', '.'],
    ['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee', '?'],
    ['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35', '.'],
    ['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old', '?'],
    ['List', 'the', 'employee', "'", 'first', 'name', 'and', 'their', 'salary', ',', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000', '.'],
    ['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database', '?'],
    ['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', "'", 'S', "'."],
    ['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', "'", 'ai', "'."]
]

# Function to remove punctuation from sentences
def remove_punctuation(sentences):
    # Define punctuation characters to remove
    punctuations = string.punctuation
    
    # Initialize empty list to store cleaned sentences
    cleaned_sentences = []
    
    # Remove punctuation from each sentence
    for sentence in sentences:
        cleaned_sentence = []
        for word in sentence:
            cleaned_word = word.translate(str.maketrans('', '', punctuations))
            if cleaned_word:
                cleaned_sentence.append(cleaned_word)
        cleaned_sentences.append(cleaned_sentence)
    
    return cleaned_sentences

# Remove punctuation from the sentences
cleaned_sentences = remove_punctuation(sentences)

# Print cleaned sentences
for cleaned_sentence in cleaned_sentences:
    print(cleaned_sentence)

['Find', 'employee', 'age', 'above', '30', 'with', 'the', 'high', 'salary']
['Show', 'me', 'the', 'employee', 'who', 'be', 'old', 'than', '25']
['List', 'the', 'employee', 'with', 'the', 'low', 'salary']
['Get', 'the', 'detail', 'of', 'employee', 'with', 'a', 'salary', 'above', '50000']
['What', 'be', 'the', 'first', 'name', 'of', 'all', 'employee']
['List', 'the', 'last', 'name', 'and', 'age', 'of', 'employee', 'old', 'than', '30']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'who', 'earn', 'more', 'than', '60000']
['What', 'be', 'the', 'name', 'and', 'salary', 'of', 'employee', 'whose', 'last', 'name', 'be', 'Mukherjee']
['How', 'many', 'employee', 'be', 'there', 'in', 'the', 'database', 'List', 'the', 'full', 'name', 'of', 'employee', 'sort', 'by', 'age', 'in', 'descend', 'order']
['What', 'be', 'the', 'average', 'salary', 'of', 'employee']
['Show', 'the', 'full', 'detail', 'of', 'the', 'young', 'employee']
['What', 'be', 'the', 'total', 'salary', 'expenditure', 'for', 'all', 'employee']
['List', 'the', 'IDs', 'and', 'name', 'of', 'employee', 'age', 'between', '25', 'and', '35']
['What', 'be', 'the', 'name', 'of', 'employee', 'who', 'be', 'exactly', '30', 'year', 'old']
['List', 'the', 'employee', 'first', 'name', 'and', 'their', 'salary', 'but', 'only', 'show', 'those', 'with', 'a', 'salary', 'less', 'than', '60000']
['What', 'be', 'the', 'high', 'salary', 'in', 'the', 'employee', 'database']
['Show', 'the', 'full', 'detail', 'of', 'employee', 'with', 'the', 'last', 'name', 'start', 'with', 'S']
['List', 'the', 'employee', 'whose', 'first', 'name', 'contains', 'ai']

In [14]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import wordpunct_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.corpus import wordnet

# Download required NLTK data files
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('stopwords')

# Initialize the lemmatizer
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

# Function to map NLTK POS tags to WordNet POS tags
def get_wordnet_pos(nltk_pos_tag):
    if nltk_pos_tag.startswith('J'):
        return 'a'  # Adjective
    elif nltk_pos_tag.startswith('V'):
        return 'v'  # Verb
    elif nltk_pos_tag.startswith('N'):
        return 'n'  # Noun
    elif nltk_pos_tag.startswith('R'):
        return 'r'  # Adverb
    else:
        return None

# Function to get synonyms using WordNet
def get_synonyms(word):
    synonyms = set()
    for syn in wordnet.synsets(word):
        for lemma in syn.lemmas():
            synonyms.add(lemma.name())
    return synonyms

# Function to lemmatize each token in a sentence and handle synonyms
def lemmatize_and_handle_synonyms(sentence):
    tokens = wordpunct_tokenize(sentence)
    pos_tags = pos_tag(tokens)

    lemmatized_sentence = []
    for token, pos in pos_tags:
        if token.lower() not in stop_words:  # Remove stopwords
            wordnet_pos = get_wordnet_pos(pos) or 'n'  # Default to noun if no POS mapping is found
            lemmatized_token = lemmatizer.lemmatize(token, pos=wordnet_pos)
            synonyms = get_synonyms(lemmatized_token)
            lemmatized_sentence.append((lemmatized_token, synonyms))

    return lemmatized_sentence

# Define a list of sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Process each sentence, remove stopwords, lemmatize the tokens, and handle synonyms
lemmatized_sentences_with_synonyms = [lemmatize_and_handle_synonyms(sentence) for sentence in sentences]

# Print the lemmatized sentences with synonyms
for sentence in lemmatized_sentences_with_synonyms:
    print(sentence)

[('Find', {'receive', 'witness', 'chance', 'rule', 'bump', 'breakthrough', 'recover', 'find_out', 'incur', 'come_up', 'get', 'uncovering', 'regain', 'feel', 'ascertain', 'see', 'discovery', 'notice', 'discover', 'retrieve', 'find_oneself', 'happen', 'get_hold', 'determine', 'line_up', 'encounter', 'observe', 'obtain', 'detect', 'find'}), ('employee', {'employee'}), ('age', {'mature', 'age', 'years', 'maturate', 'senesce', 'long_time', 'eld', 'old_age', 'historic_period', 'get_on', 'geezerhood'}), ('30', {'xxx', 'thirty', 'XXX', '30'}), ('high', {'senior_high_school', 'luxuriously', 'mellow', 'gamey', 'high_gear', 'high_school', 'eminent', 'richly', 'heights', 'high_up', 'highschool', 'high-pitched', 'high', 'gamy', 'in_high_spirits', 'senior_high'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('.', set())]
[('Show', {'express', 'demonstrate', 'read', 'prove', 'register', 'indicate', 'display', 'usher', 'show', 'demo', 'evince', 'exhibit', 'point', 'record', 'present', 'picture', 'designate', 'render', 'establish', 'shew', 'testify', 'appearance', 'bear_witness', 'show_up', 'evidence', 'depict'}), ('employee', {'employee'}), ('old', {'sure-enough', 'quondam', 'former', 'onetime', 'erstwhile', 'old', 'honest-to-god', 'older', 'sometime', 'Old', 'honest-to-goodness', 'previous', 'one-time'}), ('25', {'xxv', 'twenty-five', '25', 'XXV'}), ('.', set())]
[('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('employee', {'employee'}), ('low', {'low-pitched', 'Sir_David_Alexander_Cecil_Low', 'first', 'humble', 'low-toned', 'low_gear', 'blue', 'depressed', 'down_in_the_mouth', 'downcast', 'moo', 'humiliated', 'scummy', 'crushed', 'low', 'low-spirited', 'abject', 'modest', 'small', 'downhearted', 'Low', 'dispirited', 'broken', 'David_Low', 'lowly', 'miserable', 'humbled', 'first_gear', 'scurvy', 'grim', 'depression', 'down', 'depleted', 'gloomy', 'Sir_David_Low', 'low-down'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('.', set())]
[('Get', {'receive', 'experience', 'fuck_off', 'generate', 'fix', 'arrest', 'scram', 'vex', 'amaze', 'stupefy', 'engender', 'suffer', 'mystify', 'go', 'have', 'cause', 'father', 'bring_forth', 'acquire', 'produce', 'gravel', 'incur', 'start', 'sustain', 'mother', 'get', 'bugger_off', 'arrive', 'perplex', 'bring', 'puzzle', 'stimulate', 'induce', 'begin', 'get_down', 'sire', 'start_out', 'capture', 'fetch', 'pay_back', 'take', 'bewilder', 'set_about', 'come', 'buzz_off', 'convey', 'make', 'flummox', 'dumbfound', 'set_out', 'commence', 'beat', 'develop', 'let', 'stick', 'drive', 'nonplus', 'beget', 'aim', 'obtain', 'pay_off', 'catch', 'pose', 'grow', 'draw', "get_under_one's_skin", 'baffle', 'find', 'become', 'contract'}), ('detail', {'particular', 'point', 'contingent', 'detail', 'item'}), ('employee', {'employee'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('50000', set()), ('.', set())]
[('first', {'1st', 'beginning', 'world-class', 'first', 'firstly', 'low_gear', 'maiden', 'first-class_honours_degree', 'start', 'showtime', 'offset', 'first_of_all', 'commencement', 'low', 'number_1', 'first_base', 'first_gear', 'number_one', 'first_off', 'kickoff', 'starting_time', 'initiative', 'get-go', 'inaugural', 'for_the_first_time', 'outset', 'foremost', 'initiatory'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('employee', {'employee'}), ('?', set())]
[('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('last', {"shoemaker's_last", 'finis', 'last-place', 'last', 'concluding', 'go', 'live', 'live_on', 'final_stage', 'conclusion', 'final', 'terminal', 'finale', 'finish', 'survive', 'finally', 'stopping_point', 'close', 'endure', 'in_conclusion', 'net', "cobbler's_last", 'end', 'death', 'hold_out', 'utmost', 'hold_up', 'lowest', 'lastly'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('age', {'mature', 'age', 'years', 'maturate', 'senesce', 'long_time', 'eld', 'old_age', 'historic_period', 'get_on', 'geezerhood'}), ('employee', {'employee'}), ('old', {'sure-enough', 'quondam', 'former', 'onetime', 'erstwhile', 'old', 'honest-to-god', 'older', 'sometime', 'Old', 'honest-to-goodness', 'previous', 'one-time'}), ('30', {'xxx', 'thirty', 'XXX', '30'}), ('.', set())]
[('Show', {'express', 'demonstrate', 'read', 'prove', 'register', 'indicate', 'display', 'usher', 'show', 'demo', 'evince', 'exhibit', 'point', 'record', 'present', 'picture', 'designate', 'render', 'establish', 'shew', 'testify', 'appearance', 'bear_witness', 'show_up', 'evidence', 'depict'}), ('full', {'wide', 'total', 'to_the_full', 'replete', 'good', 'full_moon', 'fully', 'full-of-the-moon', 'entire', 'wide-cut', 'full_phase_of_the_moon', 'wax', 'broad', 'full'}), ('detail', {'particular', 'point', 'contingent', 'detail', 'item'}), ('employee', {'employee'}), ('earn', {'gain', 'clear', 'garner', 'realise', 'realize', 'bring_in', 'take_in', 'make', 'earn', 'pull_in'}), ('60000', set()), ('.', set())]
[('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('employee', {'employee'}), ('whose', set()), ('last', {"shoemaker's_last", 'finis', 'last-place', 'last', 'concluding', 'go', 'live', 'live_on', 'final_stage', 'conclusion', 'final', 'terminal', 'finale', 'finish', 'survive', 'finally', 'stopping_point', 'close', 'endure', 'in_conclusion', 'net', "cobbler's_last", 'end', 'death', 'hold_out', 'utmost', 'hold_up', 'lowest', 'lastly'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('"', set()), ('Mukherjee', set()), ('"?', set())]
[('many', {'many'}), ('employee', {'employee'}), ('database', {'database'}), ('?', set()), ('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('full', {'wide', 'total', 'to_the_full', 'replete', 'good', 'full_moon', 'fully', 'full-of-the-moon', 'entire', 'wide-cut', 'full_phase_of_the_moon', 'wax', 'broad', 'full'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('employee', {'employee'}), ('sort', {'screen', 'variety', 'class', 'assort', 'sorting', 'sort', 'separate', 'form', 'classify', 'kind', 'screen_out', 'sort_out', 'sieve'}), ('age', {'mature', 'age', 'years', 'maturate', 'senesce', 'long_time', 'eld', 'old_age', 'historic_period', 'get_on', 'geezerhood'}), ('descend', {'derive', 'fall', 'descend', 'come', 'deign', 'settle', 'go_down', 'come_down', 'condescend'}), ('order', {'range', 'ordain', 'social_club', 'society', 'govern', 'edict', 'Order', 'monastic_order', 'parliamentary_procedure', 'Holy_Order', 'enjoin', 'parliamentary_law', 'order', 'grade', 'club', 'place', 'dictate', 'rate', 'guild', 'prescribe', 'gild', 'order_of_magnitude', 'regularise', 'arrange', 'ordering', 'lodge', 'ordination', 'purchase_order', 'consecrate', 'rescript', 'rules_of_order', 'decree', 'regularize', 'rank', 'orderliness', 'tell', 'regulate', 'set_up', 'say', 'fiat', 'ordinate', 'put'}), ('.', set())]
[('average', {'fair', 'mean', 'modal', 'middling', 'mediocre', 'average', 'ordinary', 'average_out', 'medium', 'median', 'intermediate', 'norm'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('employee', {'employee'}), ('?', set())]
[('Show', {'express', 'demonstrate', 'read', 'prove', 'register', 'indicate', 'display', 'usher', 'show', 'demo', 'evince', 'exhibit', 'point', 'record', 'present', 'picture', 'designate', 'render', 'establish', 'shew', 'testify', 'appearance', 'bear_witness', 'show_up', 'evidence', 'depict'}), ('full', {'wide', 'total', 'to_the_full', 'replete', 'good', 'full_moon', 'fully', 'full-of-the-moon', 'entire', 'wide-cut', 'full_phase_of_the_moon', 'wax', 'broad', 'full'}), ('detail', {'particular', 'point', 'contingent', 'detail', 'item'}), ('young', {'offspring', 'Brigham_Young', 'Pres_Young', 'untested', 'untried', 'new', 'Young', 'Whitney_Moore_Young_Jr.', 'Danton_True_Young', 'young', 'youthful', 'Loretta_Young', 'Edward_Young', 'Lester_Willis_Young', 'immature', 'Cy_Young', 'Thomas_Young', 'Whitney_Young', 'youth', 'vernal', 'unseasoned'}), ('employee', {'employee'}), ('.', set())]
[('total', {'summate', 'tote_up', 'total', 'aggregate', 'tot_up', 'add', 'number', 'add_up', 'sum_up', 'entire', 'come', 'add_together', 'totality', 'tot', 'tally', 'amount', 'sum', 'full'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('expenditure', {'expenditure', 'spending', 'consumption', 'outlay', 'expending', 'outgo', 'using_up'}), ('employee', {'employee'}), ('?', set())]
[('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('IDs', {'ID', 'id', 'Idaho', 'Gem_State', 'I.D.'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('employee', {'employee'}), ('age', {'mature', 'age', 'years', 'maturate', 'senesce', 'long_time', 'eld', 'old_age', 'historic_period', 'get_on', 'geezerhood'}), ('25', {'xxv', 'twenty-five', '25', 'XXV'}), ('35', {'thirty-five', 'xxxv', '35'}), ('.', set())]
[('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('employee', {'employee'}), ('exactly', {'incisively', 'on_the_button', 'on_the_nose', 'on_the_dot', 'just', 'exactly', 'precisely'}), ('30', {'xxx', 'thirty', 'XXX', '30'}), ('year', {'year', 'class', 'yr', 'twelvemonth'}), ('old', {'sure-enough', 'quondam', 'former', 'onetime', 'erstwhile', 'old', 'honest-to-god', 'older', 'sometime', 'Old', 'honest-to-goodness', 'previous', 'one-time'}), ('?', set())]
[('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('employee', {'employee'}), ("'", set()), ('first', {'1st', 'beginning', 'world-class', 'first', 'firstly', 'low_gear', 'maiden', 'first-class_honours_degree', 'start', 'showtime', 'offset', 'first_of_all', 'commencement', 'low', 'number_1', 'first_base', 'first_gear', 'number_one', 'first_off', 'kickoff', 'starting_time', 'initiative', 'get-go', 'inaugural', 'for_the_first_time', 'outset', 'foremost', 'initiatory'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), (',', set()), ('show', {'express', 'demonstrate', 'read', 'prove', 'register', 'indicate', 'display', 'usher', 'show', 'demo', 'evince', 'exhibit', 'point', 'record', 'present', 'picture', 'designate', 'render', 'establish', 'shew', 'testify', 'appearance', 'bear_witness', 'show_up', 'evidence', 'depict'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('less', {'less', 'LE', 'to_a_lesser_extent', 'lupus_erythematosus'}), ('60000', set()), ('.', set())]
[('high', {'senior_high_school', 'luxuriously', 'mellow', 'gamey', 'high_gear', 'high_school', 'eminent', 'richly', 'heights', 'high_up', 'highschool', 'high-pitched', 'high', 'gamy', 'in_high_spirits', 'senior_high'}), ('salary', {'pay', 'wage', 'remuneration', 'earnings', 'salary'}), ('employee', {'employee'}), ('database', {'database'}), ('?', set())]
[('Show', {'express', 'demonstrate', 'read', 'prove', 'register', 'indicate', 'display', 'usher', 'show', 'demo', 'evince', 'exhibit', 'point', 'record', 'present', 'picture', 'designate', 'render', 'establish', 'shew', 'testify', 'appearance', 'bear_witness', 'show_up', 'evidence', 'depict'}), ('full', {'wide', 'total', 'to_the_full', 'replete', 'good', 'full_moon', 'fully', 'full-of-the-moon', 'entire', 'wide-cut', 'full_phase_of_the_moon', 'wax', 'broad', 'full'}), ('detail', {'particular', 'point', 'contingent', 'detail', 'item'}), ('employee', {'employee'}), ('last', {"shoemaker's_last", 'finis', 'last-place', 'last', 'concluding', 'go', 'live', 'live_on', 'final_stage', 'conclusion', 'final', 'terminal', 'finale', 'finish', 'survive', 'finally', 'stopping_point', 'close', 'endure', 'in_conclusion', 'net', "cobbler's_last", 'end', 'death', 'hold_out', 'utmost', 'hold_up', 'lowest', 'lastly'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('start', {'beginning', 'first', 'go', 'initiate', 'originate', 'start', 'lead_off', 'protrude', 'bulge', 'get', 'depart', 'showtime', 'offset', 'bulge_out', 'embark_on', 'startle', 'commencement', 'scratch', 'begin', 'start_out', 'come_out', 'set_about', 'jump', 'pop_out', 'commence', 'set_out', 'get_going', 'starting_signal', 'kickoff', 'starting_time', 'get-go', 'take_off', 'starting', 'set_off', 'set_forth', 'outset', 'head_start', 'starting_line', 'scratch_line', 'take_up', 'part', 'start_up', 'pop', 'get_down', 'bug_out'}), ('"', set()), ('".', set())]
[('List', {'name', 'list', 'tilt', 'number', 'leaning', 'inclination', 'heel', 'lean', 'listing'}), ('employee', {'employee'}), ('whose', set()), ('first', {'1st', 'beginning', 'world-class', 'first', 'firstly', 'low_gear', 'maiden', 'first-class_honours_degree', 'start', 'showtime', 'offset', 'first_of_all', 'commencement', 'low', 'number_1', 'first_base', 'first_gear', 'number_one', 'first_off', 'kickoff', 'starting_time', 'initiative', 'get-go', 'inaugural', 'for_the_first_time', 'outset', 'foremost', 'initiatory'}), ('name', {'constitute', 'refer', 'public_figure', 'name', 'distinguish', 'key_out', 'appoint', 'discover', 'epithet', 'figure', 'bring_up', 'cite', 'nominate', 'advert', 'make', 'identify', 'mention', 'call', 'describe', 'diagnose', 'list', 'key', 'gens'}), ('contain', {'comprise', 'curb', 'stop', 'moderate', 'arrest', 'control', 'incorporate', 'take', 'carry', 'check', 'hold_back', 'hold_in', 'hold', 'turn_back', 'contain', 'bear'}), ('"', set()), ('ai', {'Army_Intelligence', 'three-toed_sloth', 'ai', 'Bradypus_tridactylus', 'artificial_insemination', 'AI', 'artificial_intelligence'}), ('".', set())]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

# Download required resources
nltk.download('punkt')
nltk.download('stopwords')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)

# Function to remove stop words from a list of tokens
def remove_stop_words(tokens):
    stop_words = set(stopwords.words('english'))
    additional_stop_words = {'show', 'me', 'list', 'get', 'what', 'be', 'how', 'many', 'of', 'in', 'the', 'for', 'all', 'only', 'a', 'with', 'who', 'there', 'above'}
    stop_words = stop_words.union(additional_stop_words)
    return [word for word in tokens if word.lower() not in stop_words]

# Function to remove punctuation from a list of tokens
def remove_punctuation(tokens):
    return [word for word in tokens if word not in string.punctuation]

# Example sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Process each sentence
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    important_tokens = remove_stop_words(tokens)
    clean_tokens = remove_punctuation(important_tokens)
    print(clean_tokens)

['Find', 'employees', 'aged', '30', 'highest', 'salary']
['employees', 'older', '25']
['employees', 'lowest', 'salary']
['details', 'employees', 'salary', '50000']
['first', 'names', 'employees']
['last', 'names', 'ages', 'employees', 'older', '30']
['full', 'details', 'employees', 'earn', '60000']
['names', 'salaries', 'employees', 'whose', 'last', 'name', '``', 'Mukherjee', "''"]
['employees', 'database', 'full', 'names', 'employees', 'sorted', 'age', 'descending', 'order']
['average', 'salary', 'employees']
['full', 'details', 'youngest', 'employee']
['total', 'salary', 'expenditure', 'employees']
['IDs', 'names', 'employees', 'aged', '25', '35']
['names', 'employees', 'exactly', '30', 'years', 'old']
['employees', 'first', 'names', 'salaries', 'salary', 'less', '60000']
['highest', 'salary', 'employee', 'database']
['full', 'details', 'employees', 'last', 'name', 'starting', '``', "''"]
['employees', 'whose', 'first', 'name', 'contains', '``', 'ai', "''"]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
import re

# List of sentences after removing stop words and punctuation
sentences = [
    ['Find', 'employees', 'aged', '30', 'highest', 'salary'],
    ['employees', 'older', '25'],
    ['employees', 'lowest', 'salary'],
    ['details', 'employees', 'salary', '50000'],
    ['first', 'names', 'employees'],
    ['last', 'names', 'ages', 'employees', 'older', '30'],
    ['full', 'details', 'employees', 'earn', '60000'],
    ['names', 'salaries', 'employees', 'last', 'name', 'Mukherjee'],
    ['employees', 'database', 'full', 'names', 'employees', 'sorted', 'age', 'descending', 'order'],
    ['average', 'salary', 'employees'],
    ['full', 'details', 'youngest', 'employee'],
    ['total', 'salary', 'expenditure', 'employees'],
    ['IDs', 'names', 'employees', 'aged', '25', '35'],
    ['names', 'employees', 'exactly', '30', 'years', 'old'],
    ['employees', 'first', 'names', 'salaries', 'show', 'salary', '60000'],
    ['highest', 'salary', 'employee', 'database'],
    ['full', 'details', 'employees', 'last', 'name', 'starting', 'S'],
    ['employees', 'first', 'name', 'contains', 'ai']
]

# Synonyms dictionary
synonyms = {
    'aged': 'age',
    'highest': 'max',
    'lowest': 'min',
    'details': 'details',
    'first': 'first_name',
    'names': 'name',
    'last': 'last_name',
    'ages': 'age',
    'older': 'greater_than',
    'earn': 'salary',
    'salaries': 'salary',
    'database': 'Employees',
    'sorted': 'order_by',
    'age': 'age',
    'descending': 'desc',
    'order': 'order',
    'average': 'avg',
    'youngest': 'min_age',
    'total': 'sum',
    'IDs': 'id',
    'exactly': 'equals',
    'years': 'age',
    'show': 'select',
    'starting': 'startswith',
    'contains': 'contains'
}

def replace_synonyms(sentence, synonyms_dict):
    return [synonyms_dict.get(word, word) for word in sentence]

# Replace synonyms in sentences
processed_sentences = [replace_synonyms(sentence, synonyms) for sentence in sentences]

# Join words back into sentences
processed_sentences = [" ".join(sentence) for sentence in processed_sentences]

for sentence in processed_sentences:
    print(sentence)

Find employees age 30 max salary
employees greater_than 25
employees min salary
details employees salary 50000
first_name name employees
last_name name age employees greater_than 30
full details employees salary 60000
name salary employees last_name name Mukherjee
employees Employees full name employees order_by age desc order
avg salary employees
full details min_age employee
sum salary expenditure employees
id name employees age 25 35
name employees equals 30 age old
employees first_name name salary select salary 60000
max salary employee Employees
full details employees last_name name startswith S
employees first_name name contains ai

In [2]:
# Import necessary libraries
import re
from collections import defaultdict

# Example sentences (as provided)
example_sentences = [
    "Find employees age 30 max salary",
    "Employees greater_than 25",
    "Employees min salary",
    "Details employees salary 50000",
    "First_name name employees",
    "Last_name name age employees greater_than 30",
    "Full details employees salary 60000",
    "Name salary employees last_name name Mukherjee",
    "Employees Employees full name employees order_by age desc order",
    "Avg salary employees",
    "Full details min_age employee",
    "Sum salary expenditure employees",
    "ID name employees age 25 35",
    "Name employees equals 30 age old",
    "Employees first_name name salary select salary 60000",
    "Max salary employee Employees",
    "Full details employees last_name name startswith S",
    "Employees first_name name contains ai"
]

synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}


# Example keywords map
keyword_map = {

    "find": "SELECT * FROM",
    "details":"SELECT * FROM", 
    "employees":"Employees",
    "employee": "Employees",
    "age": "age",
    "id": "ID_NO",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max":  "MAX",
    "min": "MIN",
    "greater": ">",
    "greater_than": ">",
    "less_than": "<",
    "less": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg":  "AVG",
    "sum": "SUM",
    "total": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending":"DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC",
}

# Function to preprocess and map the query
def map_to_sql(query):
    # Tokenize the query
    tokens = query.lower().split()
    
    # Process tokens to map to SQL
    sql_parts = []
    for token in tokens:
        if token in keyword_map:
            sql_parts.append(keyword_map[token])
        elif re.match(r'\d+', token):  # If the token is a number
            sql_parts.append(token)
        else:
            # Handle cases like "starts_with", "contains", "greater_than", etc.
            if token.startswith("greater_than"):
                sql_parts.append(keyword_map["greater_than"])
            elif token.startswith("less_than"):
                sql_parts.append(keyword_map["less_than"])
            elif token.startswith("equals"):
                sql_parts.append(keyword_map["equals"])
            elif token.startswith("starts_with"):
                sql_parts.append(keyword_map["starts_with"] + f" '{token.split('_')[-1]}%'")
            elif token.startswith("contains"):
                sql_parts.append(keyword_map["contains"] + f" '%{token.split('_')[-1]}%'")
    
    # Join the mapped parts to form the SQL query
    return ' '.join(sql_parts) + ";"

# Example usage
query = "Find employees age 30 max salary"
sql_query = map_to_sql(query)
print(sql_query)

SELECT * FROM Employees age 30 MAX salary;

In [5]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# Ensure you have downloaded the necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

# Import necessary libraries
import re
from collections import defaultdict

# Example sentences (as provided)
example_sentences = [
    "Find employees age 30 max salary",
    "Employees greater_than 25",
    "Employees min salary",
    "Details employees salary 50000",
    "First_name name employees",
    "Last_name name age employees greater_than 30",
    "Full details employees salary 60000",
    "Name salary employees last_name name Mukherjee",
    "Employees Employees full name employees order_by age desc order",
    "Avg salary employees",
    "Full details min_age employee",
    "Sum salary expenditure employees",
    "ID name employees age 25 35",
    "Name employees equals 30 age old",
    "Employees first_name name salary select salary 60000",
    "Max salary employee Employees",
    "Full details employees last_name name startswith S",
    "Employees first_name name contains ai"
]

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

# Utility functions
def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def get_keyword(token, synonym_map):
    for key, synonyms in synonym_map.items():
        if token in synonyms:
            return key
    return None

def preprocess_query(query):
    # Tokenize the query
    tokens = word_tokenize(query.lower())
    
    # POS tagging
    pos_tags = nltk.pos_tag(tokens)
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token, get_wordnet_pos(pos)) for token, pos in pos_tags]
    
    # Remove punctuation and special characters
    lemmatized_tokens = [re.sub(r'[^\w\s]', '', token) for token in lemmatized_tokens]
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words and token.strip() != '']
    
    return filtered_tokens

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

# User interaction
user_input = input("Enter your natural language query: ")
sql_query = generate_sql_query(user_input)
print("Generated SQL Query:", sql_query)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Enter your natural language query:  employees first_name name contains ai

Generated SQL Query: SELECT * FROM Employees WHERE first_name LIKE '%ai%'

In [3]:
# Define a dictionary mapping natural language queries to SQL queries
query_mapping = {
    "Find employees age 30 max salary": """
        SELECT *
        FROM Employees
        WHERE age = 30
        ORDER BY salary DESC
        LIMIT 1;
    """,
    "employees greater_than 25": """
        SELECT *
        FROM Employees
        WHERE age > 25;
    """,
    "employees min salary": """
        SELECT *
        FROM Employees
        WHERE salary = (SELECT MIN(salary) FROM Employees);
    """,
    "details employees salary 50000": """
        SELECT *
        FROM Employees
        WHERE salary = 50000;
    """,
    "first_name name employees": """
        SELECT first_name AS name
        FROM Employees;
    """,
    "last_name name age employees greater_than 30": """
        SELECT last_name AS name, age
        FROM Employees
        WHERE age > 30;
    """,
    "full details employees salary 60000": """
        SELECT *
        FROM Employees
        WHERE salary = 60000;
    """,
    "name salary employees last_name name Mukherjee": """
        SELECT name, salary
        FROM Employees
        WHERE last_name = 'Mukherjee';
    """,
    "employees Employees full name employees order_by age desc order": """
        SELECT CONCAT(first_name, ' ', last_name) AS full_name
        FROM Employees
        ORDER BY age DESC;
    """,
    "avg salary employees": """
        SELECT AVG(salary) AS avg_salary
        FROM Employees;
    """,
    "full details min_age employee": """
        SELECT *
        FROM Employees
        ORDER BY age ASC
        LIMIT 1;
    """,
    "sum salary expenditure employees": """
        SELECT SUM(salary) AS expenditure
        FROM Employees;
    """,
    "id name employees age 25 35": """
        SELECT id, name, age
        FROM Employees
        WHERE age >= 25 AND age <= 35;
    """,
    "name employees equals 30 age old": """
        SELECT name
        FROM Employees
        WHERE age = 30;
    """,
    "employees first_name name salary select salary 60000": """
        SELECT first_name AS name, salary
        FROM Employees
        WHERE salary = 60000;
    """,
    "max salary employee Employees": """
        SELECT *
        FROM Employees
        ORDER BY salary DESC
        LIMIT 1;
    """,
    "full details employees last_name name startswith S": """
        SELECT *
        FROM Employees
        WHERE last_name LIKE 'S%';
    """,
    "employees first_name name contains ai": """
        SELECT first_name AS name
        FROM Employees
        WHERE first_name LIKE '%ai%';
    """
}

# Function to generate SQL query from natural language query
def generate_sql_query(query):
    return query_mapping.get(query, "Query not found.")

# Interactive loop to accept user input and generate SQL query
while True:
    user_input = input("Enter a natural language query (or 'exit' to quit): ").strip()
    
    if user_input.lower() == 'exit':
        print("Exiting...")
        break
    
    sql_query = generate_sql_query(user_input)
    print(f"\nNatural Language Query: {user_input}")
    print(f"Generated SQL Query:\n{sql_query}\n")

Enter a natural language query (or 'exit' to quit):  List the last names and ages of employees older than 30.

Natural Language Query: List the last names and ages of employees older than 30.
Generated SQL Query:
Query not found.

Enter a natural language query (or 'exit' to quit):  find the employee whoes age is greater than 30

Natural Language Query: find the employee whoes age is greater than 30
Generated SQL Query:
Query not found.

Enter a natural language query (or 'exit' to quit):  give me the 1st 5 employee names

Natural Language Query: give me the 1st 5 employee names
Generated SQL Query:
Query not found.

Enter a natural language query (or 'exit' to quit):  employees first_name name contains ai

Natural Language Query: employees first_name name contains ai
Generated SQL Query:

        SELECT first_name AS name
        FROM Employees
        WHERE first_name LIKE '%ai%';

Enter a natural language query (or 'exit' to quit):  show me employee age greater than 20

Natural Language Query: show me employee age greater than 20
Generated SQL Query:
Query not found.

KeyboardInterrupt: Interrupted by user

In [15]:
synonyms = {
    "find": ["ascertain", "detect", "discover", "notice"],
    "show": ["display", "present", "indicate"],
    "list": ["name", "number", "lean"],
    "employee": ["employee"],
    "age": ["years", "senesce", "mature"],
    "salary": ["remuneration", "wage", "earnings"],
    "high": ["eminent", "luxuriously", "senior_high"],
    "low": ["modest", "depleted", "humble"],
    "first_name": ["start", "commencement", "initiative"],
    "last_name": ["final", "concluding", "ultimate"],
    "details": ["particular", "item", "contingent"],
    "total": ["sum", "aggregate", "amount"],
    "average": ["mean", "median", "norm"],
    "older": ["greater than", "above", "more than"],
    "younger": ["less than", "below", "under"]
}

In [21]:
import re

def parse_query(query):
    words = query.lower().split()
    return words
def match_synonyms(words):
    sql_terms = []
    for word in words:
        for key, value in synonyms.items():
            if word in value or word == key:
                sql_terms.append(key)
                break
        else:
            sql_terms.append(word)
    return sql_terms

import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download NLTK resources
nltk.download('stopwords')
nltk.download('wordnet')

def parse_and_tokenize_query(query):
    query = re.sub(r'[^a-zA-Z0-9\s]', '', query)
    tokens = query.lower().split()
    return tokens

stop_words = set(stopwords.words('english'))

def remove_stop_words(tokens):
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return filtered_tokens

lemmatizer = WordNetLemmatizer()

def lemmatize_tokens(tokens):
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]
    return lemmatized_tokens

synonym_dict = {
    'find': 'SELECT',
    'show': 'SELECT',
    'list': 'SELECT',
    'get': 'SELECT',
    'display': 'SELECT',
    'employees': 'Employees',
    'age': 'age',
    'salary': 'salary',
    'highest': 'MAX',
    'lowest': 'MIN',
    'average': 'AVG',
    'total': 'SUM',
    'count': 'COUNT',
    'names': 'first_name, last_name',
    'name': 'first_name, last_name',
    'id': 'id_no',
    'first_name': 'first_name',
    'last_name': 'last_name',
    'full': '*',
    'details': '*',
    'older': '>',
    'younger': '<',
    'above': '>',
    'below': '<',
    'between': 'BETWEEN',
    'and': 'AND',
    'sorted': 'ORDER BY',
    'ascending': 'ASC',
    'descending': 'DESC',
    'contains': 'LIKE',
    'starting': 'LIKE',
    'exactly': '='
}

def match_synonyms(tokens):
    return [synonym_dict.get(token, token) for token in tokens]

def construct_sql_query(sql_terms):
    select_columns = []
    conditions = []
    order_by = ""
    limit = ""
    
    if "SELECT" in sql_terms:
        if "MAX" in sql_terms and "salary" in sql_terms:
            select_columns = ["*"]
            order_by = "ORDER BY salary DESC LIMIT 1"
        elif "MIN" in sql_terms and "salary" in sql_terms:
            select_columns = ["*"]
            order_by = "ORDER BY salary ASC LIMIT 1"
        elif "AVG" in sql_terms and "salary" in sql_terms:
            select_columns = ["AVG(salary) AS average_salary"]
        elif "SUM" in sql_terms and "salary" in sql_terms:
            select_columns = ["SUM(salary) AS total_salary"]
        elif "COUNT" in sql_terms and "Employees" in sql_terms:
            select_columns = ["COUNT(*) AS employee_count"]
        elif "*" in sql_terms:
            select_columns = ["*"]
        elif "first_name" in sql_terms or "last_name" in sql_terms:
            select_columns = []
            if "first_name" in sql_terms:
                select_columns.append("first_name")
            if "last_name" in sql_terms:
                select_columns.append("last_name")
    
    if "age" in sql_terms:
        if ">" in sql_terms:
            index = sql_terms.index(">")
            conditions.append(f"age > {sql_terms[index + 1]}")
        elif "<" in sql_terms:
            index = sql_terms.index("<")
            conditions.append(f"age < {sql_terms[index + 1]}")
        elif "BETWEEN" in sql_terms:
            index = sql_terms.index("BETWEEN")
            conditions.append(f"age BETWEEN {sql_terms[index + 1]} AND {sql_terms[index + 3]}")
        elif "=" in sql_terms:
            index = sql_terms.index("=")
            conditions.append(f"age = {sql_terms[index + 1]}")
    
    if "salary" in sql_terms:
        if ">" in sql_terms:
            index = sql_terms.index(">")
            conditions.append(f"salary > {sql_terms[index + 1]}")
        elif "<" in sql_terms:
            index = sql_terms.index("<")
            conditions.append(f"salary < {sql_terms[index + 1]}")
        elif "=" in sql_terms:
            index = sql_terms.index("=")
            conditions.append(f"salary = {sql_terms[index + 1]}")
    
    if "last_name" in sql_terms and "LIKE" in sql_terms:
        index = sql_terms.index("LIKE")
        conditions.append(f"last_name LIKE '{sql_terms[index + 1]}%'")
    
    if "first_name" in sql_terms and "LIKE" in sql_terms:
        index = sql_terms.index("LIKE")
        conditions.append(f"first_name LIKE '%{sql_terms[index + 1]}%'")
    
    if "ORDER BY" in sql_terms:
        order_by = "ORDER BY age DESC"
    
    query = "SELECT " + ", ".join(select_columns) + " FROM Employees"
    
    if conditions:
        query += " WHERE " + " AND ".join(conditions)
    
    if order_by:
        query += " " + order_by
    
    return query

sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    filtered_tokens = remove_stop_words(tokens)
    lemmatized_tokens = lemmatize_tokens(filtered_tokens)
    matched_terms = match_synonyms(lemmatized_tokens)
    sql_query = construct_sql_query(matched_terms)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

Input Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary DESC LIMIT 1

Input Query: Show me the employees who are older than 25.
SQL Query: SELECT  FROM Employees

Input Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Input Query: Get the details of employees with a salary above 50000.
SQL Query: SELECT  FROM Employees

Input Query: What are the first names of all employees?
SQL Query: SELECT  FROM Employees

Input Query: List the last names and ages of employees older than 30.
SQL Query: SELECT  FROM Employees WHERE age > 30

Input Query: Show the full details of employees who earn more than 60000.
SQL Query: SELECT * FROM Employees

Input Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: SELECT  FROM Employees

Input Query: How many employees are there in the database? List the full names of employees sorted by age in descending order.
SQL Query: SELECT * FROM Employees ORDER BY age DESC

Input Query: What is the average salary of employees?
SQL Query: SELECT  FROM Employees

Input Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees

Input Query: What is the total salary expenditure for all employees?
SQL Query: SELECT  FROM Employees

Input Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: SELECT  FROM Employees

Input Query: What are the names of employees who are exactly 30 years old?
SQL Query: SELECT  FROM Employees

Input Query: List the employees' first names and their salaries, but only show those with a salary less than 60000.
SQL Query: SELECT  FROM Employees

Input Query: What is the highest salary in the employee database?
SQL Query: SELECT  FROM Employees

Input Query: Show the full details of employees with the last name starting with "S".
SQL Query: SELECT * FROM Employees

Input Query: List the employees whose first name contains "ai".
SQL Query: SELECT  FROM Employees

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [29]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)

# Function to remove stop words from a list of tokens
def remove_stop_words(tokens):
    stop_words = set(stopwords.words('english'))
    return [word for word in tokens if word.lower() not in stop_words]

# Function to lemmatize tokens
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens_set and 'above' in tokens_set and '50000' in tokens_set:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."


# List of input sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Processing each query
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    filtered_tokens = remove_stop_words(tokens)
    lemmatized_tokens = lemmatize_tokens(filtered_tokens)
    sql_query = generate_sql_query(lemmatized_tokens)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

Input Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show me the employees who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

Input Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Input Query: Get the details of employees with a salary above 50000.
SQL Query: Query not recognized or supported.

Input Query: What are the first names of all employees?
SQL Query: Query not recognized or supported.

Input Query: List the last names and ages of employees older than 30.
SQL Query: Query not recognized or supported.

Input Query: Show the full details of employees who earn more than 60000.
SQL Query: Query not recognized or supported.

Input Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: Query not recognized or supported.

Input Query: How many employees are there in the database? List the full names of employees sorted by age in descending order.
SQL Query: Query not recognized or supported.

Input Query: What is the average salary of employees?
SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Input Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Input Query: What is the total salary expenditure for all employees?
SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Input Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: Query not recognized or supported.

Input Query: What are the names of employees who are exactly 30 years old?
SQL Query: Query not recognized or supported.

Input Query: List the employees' first names and their salaries, but only show those with a salary less than 60000.
SQL Query: Query not recognized or supported.

Input Query: What is the highest salary in the employee database?
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show the full details of employees with the last name starting with "S".
SQL Query: Query not recognized or supported.

Input Query: List the employees whose first name contains "ai".
SQL Query: SELECT * FROM Employees WHERE first_name LIKE '%ai%'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [27]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

# Download required resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Function to parse and tokenize a query
def parse_and_tokenize_query(query):
    return word_tokenize(query)

# Function to remove stop words from a list of tokens
def remove_stop_words(tokens):
    stop_words = set(stopwords.words('english'))
    return [word for word in tokens if word.lower() not in stop_words]

# Function to lemmatize tokens
def lemmatize_tokens(tokens):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in tokens]

# Function to generate SQL queries based on input tokens
def generate_sql_query(tokens):
    tokens_set = set(tokens)
    
    if 'salary' in tokens and 'highest' in tokens:
        return "SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1"
    elif 'older' in tokens and '25' in tokens:
        return "SELECT * FROM Employees WHERE age > 25"
    elif 'lowest' in tokens and 'salary' in tokens:
        return "SELECT * FROM Employees ORDER BY salary ASC LIMIT 1"
    elif 'salary' in tokens and 'above' in tokens and '50000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 50000"
    elif 'first' in tokens and 'names' in tokens:
        return "SELECT first_name FROM Employees"
    elif 'last' in tokens and 'names' in tokens and 'ages' in tokens and 'older' in tokens and '30' in tokens:
        return "SELECT last_name, age FROM Employees WHERE age > 30"
    elif 'full' in tokens and 'details' in tokens and 'salary' in tokens and '60000' in tokens:
        return "SELECT * FROM Employees WHERE salary > 60000"
    elif 'names' in tokens and 'salaries' in tokens and 'Mukherjee' in tokens:
        return "SELECT first_name, last_name, salary FROM Employees WHERE last_name = 'Mukherjee'"
    elif 'count' in tokens and 'employees' in tokens:
        return "SELECT COUNT(*) AS employee_count FROM Employees"
    elif 'full' in tokens and 'names' in tokens and 'sorted' in tokens and 'age' in tokens and 'descending' in tokens:
        return "SELECT first_name, last_name FROM Employees ORDER BY age DESC"
    elif 'average' in tokens and 'salary' in tokens:
        return "SELECT AVG(salary) AS average_salary FROM Employees"
    elif 'youngest' in tokens and 'employee' in tokens:
        return "SELECT * FROM Employees ORDER BY age ASC LIMIT 1"
    elif 'total' in tokens and 'salary' in tokens and 'expenditure' in tokens:
        return "SELECT SUM(salary) AS total_salary FROM Employees"
    elif 'IDs' in tokens and 'names' in tokens and 'aged' in tokens and '25' in tokens and '35' in tokens:
        return "SELECT id_no, first_name, last_name FROM Employees WHERE age BETWEEN 25 AND 35"
    elif 'names' in tokens and 'exactly' in tokens and '30' in tokens:
        return "SELECT first_name, last_name FROM Employees WHERE age = 30"
    elif 'first' in tokens and 'names' in tokens and 'salaries' in tokens and 'less' in tokens and '60000' in tokens:
        return "SELECT first_name, salary FROM Employees WHERE salary < 60000"
    elif 'highest' in tokens and 'salary' in tokens:
        return "SELECT MAX(salary) AS highest_salary FROM Employees"
    elif 'full' in tokens and 'details' in tokens and 'last' in tokens and 'name' in tokens and 'S' in tokens:
        return "SELECT * FROM Employees WHERE last_name LIKE 'S%'"
    elif 'first' in tokens and 'name' in tokens and 'contains' in tokens and 'ai' in tokens:
        return "SELECT * FROM Employees WHERE first_name LIKE '%ai%'"
    else:
        return "Query not recognized or supported."

# List of input sentences
sentences = [
    'Find employees aged above 30 with the highest salary.',
    'Show me the employees who are older than 25.',
    'List the employees with the lowest salary.',
    'Get the details of employees with a salary above 50000.',
    'What are the first names of all employees?',
    'List the last names and ages of employees older than 30.',
    'Show the full details of employees who earn more than 60000.',
    'What are the names and salaries of employees whose last name is "Mukherjee"?',
    'How many employees are there in the database? List the full names of employees sorted by age in descending order.',
    'What is the average salary of employees?',
    'Show the full details of the youngest employee.',
    'What is the total salary expenditure for all employees?',
    'List the IDs and names of employees aged between 25 and 35.',
    'What are the names of employees who are exactly 30 years old?',
    'List the employees\' first names and their salaries, but only show those with a salary less than 60000.',
    'What is the highest salary in the employee database?',
    'Show the full details of employees with the last name starting with "S".',
    'List the employees whose first name contains "ai".'
]

# Processing each query
for input_query in sentences:
    tokens = parse_and_tokenize_query(input_query)
    filtered_tokens = remove_stop_words(tokens)
    lemmatized_tokens = lemmatize_tokens(filtered_tokens)
    sql_query = generate_sql_query(lemmatized_tokens)
    print(f"Input Query: {input_query}")
    print(f"SQL Query: {sql_query}\n")

Input Query: Find employees aged above 30 with the highest salary.
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show me the employees who are older than 25.
SQL Query: SELECT * FROM Employees WHERE age > 25

Input Query: List the employees with the lowest salary.
SQL Query: SELECT * FROM Employees ORDER BY salary ASC LIMIT 1

Input Query: Get the details of employees with a salary above 50000.
SQL Query: Query not recognized or supported.

Input Query: What are the first names of all employees?
SQL Query: Query not recognized or supported.

Input Query: List the last names and ages of employees older than 30.
SQL Query: Query not recognized or supported.

Input Query: Show the full details of employees who earn more than 60000.
SQL Query: Query not recognized or supported.

Input Query: What are the names and salaries of employees whose last name is "Mukherjee"?
SQL Query: Query not recognized or supported.

Input Query: How many employees are there in the database? List the full names of employees sorted by age in descending order.
SQL Query: Query not recognized or supported.

Input Query: What is the average salary of employees?
SQL Query: SELECT AVG(salary) AS average_salary FROM Employees

Input Query: Show the full details of the youngest employee.
SQL Query: SELECT * FROM Employees ORDER BY age ASC LIMIT 1

Input Query: What is the total salary expenditure for all employees?
SQL Query: SELECT SUM(salary) AS total_salary FROM Employees

Input Query: List the IDs and names of employees aged between 25 and 35.
SQL Query: Query not recognized or supported.

Input Query: What are the names of employees who are exactly 30 years old?
SQL Query: Query not recognized or supported.

Input Query: List the employees' first names and their salaries, but only show those with a salary less than 60000.
SQL Query: Query not recognized or supported.

Input Query: What is the highest salary in the employee database?
SQL Query: SELECT * FROM Employees WHERE age > 30 ORDER BY salary DESC LIMIT 1

Input Query: Show the full details of employees with the last name starting with "S".
SQL Query: Query not recognized or supported.

Input Query: List the employees whose first name contains "ai".
SQL Query: SELECT * FROM Employees WHERE first_name LIKE '%ai%'

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

### TRY OUT 3

In [1]:
# SQL query examples and mappings
sql_queries = {
    'find': 'SELECT * FROM Employees WHERE age = {age};',
    'employees': 'SELECT * FROM Employees WHERE age > {age};',
    'min': 'SELECT MIN(salary) FROM Employees;',
    'details': 'SELECT * FROM Employees WHERE salary = {salary};',
    'first_name': 'SELECT first_name FROM Employees;',
    'last_name': 'SELECT last_name, name, age FROM Employees WHERE age > {age};',
    'full': 'SELECT * FROM Employees WHERE salary = {salary};',
    'name': 'SELECT * FROM Employees WHERE last_name = \'{name}\';',
    'order_by': 'SELECT * FROM Employees ORDER BY age DESC;',
    'avg': 'SELECT AVG(salary) AS avg_salary FROM Employees;',
    'sum': 'SELECT SUM(salary) AS total_expenditure FROM Employees;',
    'id': 'SELECT id, name, age FROM Employees WHERE age BETWEEN {min_age} AND {max_age};',
    'equals': 'SELECT * FROM Employees WHERE age = {age};',
    'select': 'SELECT first_name, name, salary FROM Employees WHERE salary = {salary};',
    'max': 'SELECT MAX(salary) FROM Employees;',
    'startswith': 'SELECT * FROM Employees WHERE last_name LIKE \'{start}%\';',
    'contains': 'SELECT first_name, name FROM Employees WHERE first_name LIKE \'%{contains}%\' OR name LIKE \'%{contains}%\';'
}

# Mapping of numeric tokens used in SQL queries
numeric_tokens = {
    'age': 30,
    'salary': 50000,
    'min_age': 25,
    'max_age': 35,
}

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.corpus import wordnet

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN  # default to noun if not recognized

def process_query(query):
    # Tokenize the query
    tokens = word_tokenize(query.lower())

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token.isalnum() and token not in stop_words]

    # Lemmatize tokens
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = []
    for token, tag in pos_tag(filtered_tokens):
        pos = get_wordnet_pos(tag)
        lemmatized_tokens.append(lemmatizer.lemmatize(token, pos=pos))

    return lemmatized_tokens

def find_sql_query(tokens):
    # Initialize query parts
    sql_query = []
    params = {}

    # Map tokens to SQL query parts
    for token in tokens:
        if token in sql_queries:
            sql_query.append(sql_queries[token])
        elif token in numeric_tokens:
            params[token] = numeric_tokens[token]

    # Construct final SQL query
    if sql_query:
        final_query = ' '.join(sql_query).format(**params)
    else:
        final_query = "Query not found."

    return final_query

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [4]:
def main():
    print("Welcome to the SQL Query Generator")
    print("Type your natural language query or 'exit' to quit.")

    while True:
        user_input = input("You: ").strip().lower()

        if user_input == 'exit':
            break

        # Process the query
        tokens = process_query(user_input)
        sql_query = find_sql_query(tokens)

        # Output the generated SQL query
        print("Generated SQL Query:")
        print(sql_query)
        print()

if __name__ == "__main__":
    main()

Welcome to the SQL Query Generator
Type your natural language query or 'exit' to quit.

You:  give me the 1st 5 employee names

KeyError: 'name'

In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
import re

# Initialize NLTK resources
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

# Predefined SQL query templates
sql_queries = {
    "employees_age": "SELECT * FROM Employees WHERE age = {};",
    "employees_salary_gt": "SELECT * FROM Employees WHERE salary > {};",
    "employees_salary_lt": "SELECT * FROM Employees WHERE salary < {};",
    # Add more SQL query templates as needed
}

# Map numeric tokens to database values
numeric_tokens = {
    "age": {
        "thirty": 30,
        "forty": 40,
        # Add more mappings for different age values
    },
    "salary": {
        "fifty thousand": 50000,
        "sixty thousand": 60000,
        # Add more mappings for different salary values
    }
}

# Function to process the user query
def process_query(query):
    # Tokenize the query
    tokens = word_tokenize(query)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]

    # Lemmatize tokens
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = []
    for token in filtered_tokens:
        lemma = lemmatizer.lemmatize(token)
        lemmatized_tokens.append(lemma)

    # POS tagging
    tagged_tokens = pos_tag(lemmatized_tokens)

    return tagged_tokens

# Function to find SQL query based on tokens
def find_sql_query(tokens):
    sql_query = ""
    numeric_value = None

    for token in tokens:
        word = token[0].lower()
        pos_tag = token[1]

        if pos_tag.startswith('NN'):  # Noun
            if word.isdigit():
                numeric_value = int(word)
            elif word in numeric_tokens['age']:
                numeric_value = numeric_tokens['age'][word]
            elif word in numeric_tokens['salary']:
                numeric_value = numeric_tokens['salary'][word]

    if numeric_value is not None:
        # Generate SQL query based on numeric value
        if numeric_value == 30:
            sql_query = sql_queries['employees_age'].format(numeric_value)
        elif numeric_value == 50000:
            sql_query = sql_queries['employees_salary_gt'].format(numeric_value)
        elif numeric_value == 60000:
            sql_query = sql_queries['employees_salary_lt'].format(numeric_value)
        # Add more conditions for other numeric values if needed

    return sql_query

def main():
    print("Welcome to the SQL Query Generator")
    print("Type your natural language query or 'exit' to quit.")

    while True:
        user_input = input("You: ").strip().lower()

        if user_input == 'exit':
            break

        # Process the query
        tokens = process_query(user_input)
        sql_query = find_sql_query(tokens)

        # Output the generated SQL query
        print("Generated SQL Query:")
        if sql_query:
            print(sql_query)
        else:
            print("Query not found.")
        print()

if __name__ == "__main__":
    main()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

Welcome to the SQL Query Generator
Type your natural language query or 'exit' to quit.

You:  give me the 1st 5 employee names

Generated SQL Query:
Query not found.

KeyboardInterrupt: Interrupted by user

In [ ]:
import spacy
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string

# Load English language model for spaCy
nlp = spacy.load("en_core_web_sm")

# Sample dataset as SQL database
data = {
    "id_no": [101, 102, 103, 104, 105],
    "first_name": ["Anata", "Asutosh", "Rada", "Bulai", "Chaitali"],
    "last_name": ["Sarkar", "Mukherjee", "Sengupto", "Chandra", "Mukherjee"],
    "age": [28, 34, 25, 45, 30],
    "salary": [55000.00, 63000.00, 45000.00, 80000.00, 57000.00]
}

# Create DataFrame from the dataset
df = pd.DataFrame(data)

# NLTK setup for text processing
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def process_query(query):
    # Tokenize the query
    tokens = word_tokenize(query.lower())

    # Remove punctuation and stop words
    tokens = [token for token in tokens if token not in string.punctuation and token not in stop_words]

    # Lemmatize tokens
    tokens = [lemmatizer.lemmatize(token) for token in tokens]

    return tokens

def find_sql_query(tokens):
    sql_query = ""

    # Example mapping to SQL queries
    keywords_map = {
        "find": "SELECT",
        "employees": "FROM Employees",
        "age": "age",
        "salary": "salary",
        "max": "MAX",
        "greater_than": ">",
        "min": "MIN",
        "details": "DETAILS",
        "first_name": "first_name",
        "last_name": "last_name",
        "full": "FULL",
        "order_by": "ORDER BY",
        "desc": "DESC",
        "avg": "AVG",
        "sum": "SUM",
        "id": "id_no",
        "equals": "=",
        "old": "age",
        "select": "SELECT",
        "startswith": "LIKE",
        "contains": "LIKE"
    }

    # Generate SQL query based on tokens and mapping
    for token in tokens:
        if token in keywords_map:
            sql_query += keywords_map[token] + " "
        elif token.isdigit():
            sql_query += token + " "
        elif token.replace('.', '', 1).isdigit():
            sql_query += token + " "
        else:
            sql_query += token + " "

    return sql_query.strip()

def main():
    print("Welcome to the SQL Query Generator")
    print("Type your natural language query or 'exit' to quit.")

    while True:
        user_input = input("You: ").strip().lower()

        if user_input == 'exit':
            break

        # Process the query
        tokens = process_query(user_input)
        sql_query = find_sql_query(tokens)

        # Output the generated SQL query
        print("Generated SQL Query:")
        print(sql_query)
        print()

if __name__ == "__main__":
    main()

Welcome to the SQL Query Generator
Type your natural language query or 'exit' to quit.

You:  give me the 1st 5 employee names

Generated SQL Query:
give 1st 5 employee name

You:  List the last names and ages of employees older than 30.

Generated SQL Query:
list last name age employee older 30

In [6]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

# Ensure you have downloaded the necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

# Synonym map
synonym_map = {
    "find": ["find", "get", "retrieve", "list", "give", "shows", "receive", "notice", "discover", "detect", "ascertain", "determine", "encounter", "show", "display", "indicate", "demonstrate", "present", "reveal", "exhibit", "name", "enumerate", "catalog", "itemize", "identify", "call", "refer", "mention"],
    "details": ["details", "information", "info", "particular", "specification"],
    "employees": ["employees", "staff", "workers", "personnel", "team_member"],
    "employee": ["employee", "staff member", "worker"],
    "age": ["age", "years", "old", "senesce", "get_on", "mature", "eld", "matured"],
    "id": ["ID", "identifier", "code", "ID_NO", "id no", "idno", "IDNO"],
    "salary": ["salary", "pay", "income", "earnings", "wage", "remuneration"],
    "maximum": ["max", "largest", "high", "highest", "best"],
    "minimum": ["min", "lowest", "less", "worst", "poor", "downpay"],
    "max": ["max", "maximum", "largest", "high", "highest", "best"],
    "min": ["min", "minimum", "lowest", "worst", "poor", "downpay"],
    "greater": ["greater_than", "more_than", "above", "more"],
    "greater_than": ["greater_than", "more_than", "above", "more", "greater"],
    "less_than": ["less_than", "below", "under", "less"],
    "less": ["less_than", "below", "under", "lesser"],
    "equals": ["equals", "equal to", "is", "similar"],
    "full": ["full", "all"],
    "first_name": ["first_name", "given name", "forename", "propername", "calling_name", "first name"],
    "last_name": ["last_name", "surname", "family name", "surname_name", "last name"],
    "avg": ["avg", "average", "mean", "median", "norm"],
    "sum": ["sum", "total", "summation", "final", "aggregate", "entire", "complete"],
    "total": ["sum", "aggregate", "entire", "complete"],
    "starts_with": ["starts_with", "begins with"],
    "contains": ["contains", "has"],
    "order_by": ["order_by", "sort by", "group by"],
    "descending": ["desc", "decreasing", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "ascending": ["asc", "increasing", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
    "desc": ["desc", "descending", "more_to_less", "bigger_to_smaller", "larger_to_smaller", "top_to_bottom"],
    "asc": ["asc", "ascending", "less_to_more", "smaller_to_bigger", "smaller_to_larger", "bottom_to_top"],
}

# Keyword map
keyword_map = {
    "find": "SELECT",
    "details": "*",
    "employees": "FROM Employees",
    "employee": "employee",
    "age": "age",
    "id": "id_no",
    "salary": "salary",
    "maximum": "MAX",
    "minimum": "MIN",
    "max": "MAX",
    "min": "MIN",
    "greater_than": ">",
    "less_than": "<",
    "equals": "=",
    "first_name": "first_name",
    "last_name": "last_name",
    "avg": "AVG",
    "sum": "SUM",
    "starts_with": "LIKE",
    "contains": "LIKE",
    "order_by": "ORDER BY",
    "descending": "DESC",
    "ascending": "ASC",
    "desc": "DESC",
    "asc": "ASC"
}

# Utility functions
def get_wordnet_pos(treebank_tag):
    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

def get_keyword(token, synonym_map):
    for key, synonyms in synonym_map.items():
        if token in synonyms:
            return key
    return None

def preprocess_query(query):
    # Tokenize the query
    tokens = word_tokenize(query.lower())
    
    # POS tagging
    pos_tags = nltk.pos_tag(tokens)
    
    # Lemmatization
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token, get_wordnet_pos(pos)) for token, pos in pos_tags]
    
    # Remove punctuation and special characters
    lemmatized_tokens = [re.sub(r'[^\w\s]', '', token) for token in lemmatized_tokens]
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [token for token in lemmatized_tokens if token not in stop_words and token.strip() != '']
    
    return filtered_tokens

def map_to_sql(query):
    # Preprocess the query
    tokens = preprocess_query(query)
    
    sql_parts = []

    i = 0
    while i < len(tokens):
        token = tokens[i]
        mapped_keyword = get_keyword(token, synonym_map)
        
        if mapped_keyword and mapped_keyword in keyword_map:
            if mapped_keyword == "find":
                sql_parts.append(keyword_map[mapped_keyword])
            elif mapped_keyword == "employees":
                sql_parts.append(keyword_map[mapped_keyword])
            elif mapped_keyword == "details":
                sql_parts.append(keyword_map[mapped_keyword])
            elif mapped_keyword == "age" and tokens[i+1] in ["greater than", "more than", "above"]:
                sql_parts.append(f"{keyword_map['age']} {keyword_map['greater_than']} {tokens[i+2]}")
                i += 2
            elif mapped_keyword == "age" and tokens[i+1] in ["less than", "below", "under"]:
                sql_parts.append(f"{keyword_map['age']} {keyword_map['less_than']} {tokens[i+2]}")
                i += 2
            else:
                sql_parts.append(token)
        elif re.match(r'\d+', token):
            sql_parts.append(token)
        elif token == "order by" and tokens[i+1] == "salary" and tokens[i+2] == "desc":
            sql_parts.append(f"{keyword_map['order_by']} {keyword_map['salary']} {keyword_map['desc']}")
            i += 2
        else:
            sql_parts.append(token)
        i += 1

    return ' '.join(sql_parts) + ";"

# User interaction
user_input = input("Enter your natural language query: ")
sql_query = map_to_sql(user_input)
print("Generated SQL Query:", sql_query)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KIIT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Enter your natural language query:  find the employee whoes age is greater than 30

Generated SQL Query: SELECT employee whoes age great 30;